# Common Ignores
.DS_Store

# Log Files
**/*.log

# Karabiner Auto Backups
.config/karabiner/automatic_backups

# Lazygit State File
.config/lazygit/state.yml

# Zed Non - Settings Files
.config/zed/conversations
.config/zed/embeddings
